## One Hot Encoding

In [11]:
import pandas as pd

In [14]:
df=pd.read_csv('titanic.csv',usecols=['Sex'])

In [15]:
df.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [16]:
pd.get_dummies(df)

     Sex_female  Sex_male
0             0         1
1             1         0
2             1         0
3             1         0
4             0         1
..          ...       ...
886           0         1
887           1         0
888           1         0
889           0         1
890           0         1

[891 rows x 2 columns]

In [ ]:
Disadvantage:
1.no of feature will increased.